/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
	background: linear-gradient(to right, #0D0B2F , #A1CCFF); /* Standard syntax */
  
}

/* h1 {
  color: white;
  text-decoration: none;
} */
.container {  
  margin: 0 50px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.navbar-container:scolled {
  position: sticky;
  /* top: 0; */
  background-color: #EDF6FF;
  color: black;

}

.left-navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.right-navbar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.middle-container {
  display: flex;
  flex-direction: row;
  margin: 150px;
}

.left-middle-container {
  display: flex;
  justify-content: flex-start;
  align-items: right;
  flex-direction: column;
  gap: 20px;
}

.right-middle-container {
  display: flex;
  position: absolute;
  bottom: 200px;
  right: 0;
  margin: 10px;  
}

a  {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

h1  {
  color: #FFFFFF;
  width: 769px;
  font-size: 64px;
  text-align: left;
  font-family: OpenSans-Bold,Arial,sans-serif!important;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: -1px;
  text-align: left;
}


h1 span{
  border: solid #FFE276 1px;
  background-color: #FFE276;
  border-radius: 50px;
  width: 180px;
  height: 80px;
  color: #02030A; 
  display: inline;
  margin: auto;
}


p  {
  color: white;
  text-decoration: none;
  font-size: 24px;
  max-width: 680px;
  text-align: left;
  font-family: OpenSans-Regular,Arial,sans-serif!important;
  font-weight: 400;
  line-height: 36px;
  padding-top: 15px;
}

.get-started-button  {
  color: #E5F3FF;
  background-color: #0D9BFF;
  border: solid #0D9BFF 1px;
  border-radius: 10px;
  width: 240px;
  height: 68px;
  margin-top: 30px;  
  font-size: 20px;
  font-family: OpenSans-Bold,Arial,sans-serif!important;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.signup-button  {
  color: #E5F3FF;
  border: solid #E5F3FF 1px;
  background-color: transparent;
  border-radius: 10px;  
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-family: OpenSans-Bold,Arial,sans-serif!important;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.login-button  {
  color: #E5F3FF;
  background-color: #0D86FF;
  border: solid #0D86FF 1px;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-family: OpenSans-Bold,Arial,sans-serif!important;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.trading-container {
  position: relative;
}

.dropdown-icon {
  color: #E5F3FF;
}

.dropdown-icon::after {
  content: '\25BC';
  margin-left: 4px;
}

.trading-dropdown-container {
  border: solid white 1px;
  border-radius: 10px;
  padding: 15px;
  display: none;  
  position: absolute;
  background-color: white;
  width: 180px;
  top: 40px; 
  transition: display 0.3s ease;
  line-height: 50px;
  font-family: OpenSans-Bold,Arial,sans-serif!important;
  /* left: 100px; */
}

.trading-container:hover  .trading-dropdown-container {
  display: block;
}

.investing-container {
  position: relative;
}


.investing-dropdown-container {
  border: solid white 1px;
  border-radius: 10px;
  padding: 15px;
  display: none;  
  position: absolute;
  background-color: white;
  width: 250px;
  top: 40px; 
  transition: display 0.3s ease;
  line-height: 50px;
  font-family: OpenSans-Bold,Arial,sans-serif!important;
  /* left: 100px; */
}

.investing-container:hover  .investing-dropdown-container {
  display: block;
}

.platforms-container {
  position: relative;
}


.platforms-dropdown-container {
  border: solid white 1px;
  border-radius: 10px;
  padding: 15px;
  display: none;  
  position: absolute;
  background-color: white;
  width: 200px;
  top: 40px; 
  transition: display 0.3s ease;
  line-height: 50px;
  font-family: OpenSans-Bold,Arial,sans-serif!important;
  /* left: 100px; */
}

.platforms-container:hover  .platforms-dropdown-container {
  display: block;
}

.hub-container {
  position: relative;
}


.hub-dropdown-container {
  border: solid white 1px;
  border-radius: 10px;
  padding: 15px;
  display: none;  
  position: absolute;
  background-color: white;
  width: 200px;
  top: 40px; 
  transition: display 0.3s ease;
  line-height: 50px;
  font-family: OpenSans-Bold,Arial,sans-serif!important;
  /* left: 100px; */
}

.hub-container:hover  .hub-dropdown-container {
  display: block;
}

.support-container {
  position: relative;
}


.support-dropdown-container {
  border: solid white 1px;
  border-radius: 10px;
  padding: 15px;
  display: none;  
  position: absolute;
  background-color: white;
  width: 150px;
  top: 40px; 
  transition: display 0.3s ease;
  line-height: 50px;
  font-family: OpenSans-Bold,Arial,sans-serif!important;
  /* left: 100px; */
}

.support-container:hover  .support-dropdown-container {
  display: block;
}

.image-container {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  width: 500px;
}